
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    font-family: Arial, sans-serif;
    background-image: url('glass2.avif');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 20px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    gap: 150px;
    list-style: none;
    justify-content: center;
}

.navbar a {
    color: blue;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;

}

.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: wheat;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease;

}
.navbar a:hover::after{
    width: 100%;
    left: 0;
}